<footer class="footer">
	<small>
		<a href='#'>New Application</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href='#'>New Application</a></li>
		</ul>
	</nav>
</footer>